body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: darkorange;
    background-color: black;
}

::-webkit-scrollbar-track
{
	background-color: black;
}

::-webkit-scrollbar
{
	width: 22px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 11px;
	background-color: orange;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: black;
    min-width: 64px;
    min-height: 64px;
    text-align: center;
    transition: .2s linear;
    z-index: 11;
    font-size: 42px;
    top: 6%;
    right: 0%;
    animation: breathe 8s linear both infinite;
    overflow: hidden;
}

.arrow.show{
    position: fixed;
    color: black;
    text-shadow: 0px 0px 25px green;
    transform: rotate(180deg);
}

.menu{
    display: flex;
    z-index: 9;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    right: -300px;
    min-height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 5px 2px white;
    transition: .2s linear;
}

.menu .menu_icons{
    color: black;
    padding: 0;
    text-align: center;
    position: relative;
    font-size: 46px;
    min-width: 300px;
    padding: 46px 0px;
}

.menu .menu_icons:hover{
    cursor: pointer;
}

#question{
    position: absolute;
    z-index: 50;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 2%;
    left: 2%;
    color: black;
    background-color: orange;
    font-size: 32px;
    transition: .2s linear;
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px orange;
}

#question:hover{
    font-size: 42px;
}

.page_build_info{
    position: absolute;
    background-color: gray;
    color: black;
    font-size: 24px;
    padding: 12px;
    width: 50%;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
    z-index: -1;
    transition: .3s ease-in-out;
}

#question:hover ~.page_build_info{
    z-index: 50;
    opacity: 1;
    color: black;
}

.menu .fas{
    text-align: center;
    border-bottom: 3px solid black;
}

.menu #user{
    border-bottom: 0;
}

.menu.show{
    right: 0px;
}

.arrow i:hover{
    cursor: pointer;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    min-height: 100vh;
    transition: .4s linear;
}

.head.active {
    transform: translateY(-100%);
}
.head h1{
    margin: 0 0 10vh 0;
    padding-left: 10%;
    padding-top: 0%;
    font-size: 180px;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: darkorange;
    text-shadow: 0px 0px 20px darkred;
}

.weird{
    font-weight: normal;
}

.head .bottom{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.next_page{
    position: fixed;
    z-index: 10;
    top: 100%;
    left: 50%;
    min-height: 100px;
    min-width: 100px;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: breathe_button 8s linear both infinite;
    transition: .4s linear;
    background-image: linear-gradient(135deg, red 0%, yellow 80%);
}

.next_page:hover{
    cursor: pointer;
}

.head .left_p, .head .right_p{
    margin: 0px auto;
    padding: 36px 0px;
    display: inline-block;
    max-width: 80vw;
    text-align: center; 
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 1px;
}

.head .border_mid{
    margin: 0px auto;
    border-bottom: 2px solid orange;
    min-width: 80vw;
    box-shadow: 0px 0px 20px 5px orange;
}

.weird, .w_twinkle, .e_twinkle, .l_twinkle, .right_p, .left_p, .head{
    z-index: 1;
}

span.com{
    position: relative;
}

.border_mid, span.com{
    z-index: 3;
}

.head h1 .weird{
    position: relative;
    animation: broken 4s linear both;
}


.head h1 .w_twinkle{
    animation: w_twinkle 8s 3s linear infinite;
}

.head h1 .e_twinkle{
    animation: e_twinkle 8s 3s linear infinite;
}

.head h1 .l_twinkle{
    animation: l_twinkle 10s 3s linear infinite;
}

@keyframes breathe{
    0%{
        text-shadow: 0px 0px 0px orange;
    }

    30%{
        text-shadow: 0px 0px 10px orange;
    }

    60%{
        text-shadow: 0px 0px 10px orange;
    }
    90%{
        text-shadow: 0px 0px 0px orange;
    }

    100%{
        text-shadow: 0px 0px 0px orange;
    }
}

@keyframes breathe_button{
    0%{
        box-shadow: 0px 0px 0px red;
    }

    30%{
        box-shadow: 0px 0px 60px red;
    }

    60%{
        box-shadow: 0px 0px 60px red;
    }
    90%{
        box-shadow: 0px 0px 0px red;
    }

    100%{   
        box-shadow: 0px 0px 0px red;
    }
}

@keyframes broken{
    0%{
        transform: rotate(0deg);
        color: darkorange;
        text-shadow: 0px 0px 20px darkred;
    }
    5%{
        color: black;
        text-shadow: 0 0 0;
    }
    6%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred;
    }
    7%{
        color: black;
        text-shadow: 0 0 0;
    }
    10%{
        color: black;
        text-shadow: 0 0 0;
    }
    11%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred;
    }
    12%{
        color: black;
        text-shadow: 0 0 0;
    }
    85%{
        color: black;
        text-shadow: 0 0 0;;
    }
    90%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred;
    }
    91%{
        color: black;
        text-shadow: 0 0 0;
    }
    95%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred;
    }
    100%{
        transform: rotate(180deg);
        color: black;
        text-shadow: 0 0 0;
    }
} 

@keyframes w_twinkle{
    1%{
        color: black;
        text-shadow: 0 0 0;
    }

    3%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    4%{
        color: black;
        text-shadow: 0 0 0;
    }
    5%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred; 
    }

    6%{
        color: black;
        text-shadow: 0 0 0;
    }

    7%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred; 
    }

    9%{
        color: black;
        text-shadow: 0 0 0;
    }

    12%{
        color: black;
        text-shadow: 0 0 0;
    }

    15%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

    16%{
        color: black;
        text-shadow: 0 0 0;
    }

    50%{
        color: black;
        text-shadow: 0 0 0;
    }
    55%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

    100%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

}

@keyframes e_twinkle{
    3%{
        color: black;
        text-shadow: 0 0 0;
    }

    4%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    5%{
        color: black;
        text-shadow: 0 0 0;
    }
    6%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred; 
    }

    8%{
        color: black;
        text-shadow: 0 0 0;
    }

    9%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred; 
    }

    10%{
        color: black;
        text-shadow: 0 0 0;
    }

    12%{
        color: black;
        text-shadow: 0 0 0;
    }

    15%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

    16%{
        color: black;
        text-shadow: 0 0 0;
    }

    60%{
        color: black;
        text-shadow: 0 0 0;
    }
    65%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

    67%{
        color: black;
        text-shadow: 0 0 0;
    }
    68%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

    100%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }
}

@keyframes l_twinkle{
    1%{
        color: black;
        text-shadow: 0 0 0;
    }

    2%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    3%{
        color: black;
        text-shadow: 0 0 0;
    }
    4%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred; 
    }

    5%{
        color: black;
        text-shadow: 0 0 0;
    }

    6%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred; 
    }

    7%{
        color: black;
        text-shadow: 0 0 0;
    }

    80%{
        color: black;
        text-shadow: 0 0 0;
    }
    85%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

    87%{
        color: black;
        text-shadow: 0 0 0;
    }
    88%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

    89%{
        color: black;
        text-shadow: 0 0 0;
    }
    90%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }

    100%{
        color: darkorange;
        text-shadow: 0px 0px 50px darkred;
    }
}

