.info{
    position: absolute;  
    overflow: hidden;
    text-align: center;
    min-height: 100vh;
    width: calc(100vw - 22px);
    background-color: black;
    z-index: 1;
    top: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity .4s linear;
}

.info.active{
    top: 0;
    left: 0;
    transform: translateX(0%);
    opacity: 1;
    z-index: 5;
    transition: opacity .4s linear;
}

.info h1{
    margin-top: 50px;
    font-size: 46px;
}

.info .icons .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info .icons i{
    margin: 50px 0 100px 30px;
    max-width: 100px;
    padding: 0 10px;
    font-size: 64px;
    color: white;
    text-shadow: 0px 0px 5px white;
    transition: .1s linear;
}

.info .icons .fa-user-tie{
    margin-left: 35px;
}

.info .icons .fa-phone-square-alt{
    margin-bottom: 100px;
}

.info .icons .hover_effect1, .info .icons .hover_effect2, .info .icons .hover_effect3{
    display: flex;
    align-items: center;
    padding: 12px;
    max-width: 600px;
    max-height: 150px;
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 9;
    background-color: white;
    transform: translate(100%, -25%);
    opacity: 0;
    transition: .3s ease-in-out;
}

.hover_effect1 h2, .hover_effect2 h2, .hover_effect3 h2{
    font-weight: normal;
    color: black;
    text-align: center;
}

.info .icons i:hover{
    cursor: pointer;
    text-shadow: 0px 0px 100px white;
}

.info .icons i:nth-of-type(n):hover + div:nth-of-type(n){
    transform: translate(2%, -25%);
    opacity: 0.8;
}

.info .icons div:nth-of-type(n).active{
    transform: translate(1%, -25%);
    opacity: 0.8;
}

span#portfolio, span#github{
    cursor: pointer;
    font-weight: bold;
    transition: .3s linear;
}

span#portfolio:hover, span#github:hover{
    text-shadow: 0px 0px 5px red;
}

.info .portfolio_slider, .info .github_slider{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 1.5em;
    max-width: 1000px;
    top: 21%;
    left: 100%;
    transform:translateX(50%);
    margin: 30px 0px;
    padding: 0 32px;
    transition: .5s ease-in-out;
}

.info .portfolio_slider.active{
    left: 50%;
    transform: translateX(-50%);
}

.info .github_slider{
    top: 5%;
}

.info .github_slider.active{
    left: 50%;
    transform: translateX(-50%);
}

