@media (max-width: 800px) and (max-height: 900px){
    .head h1{
        margin-top: 10vh;
        font-size: 80px;
    }
    
    .head .left_p, .head .right_p{  
        font-size: 24px; 
    }

    .crucial h1{
        font-size: 32px;
    }
    
    .menu .menu_icons{
        min-width: 200px;
        font-size: 32px;
        padding: 16px 0px;
    }

    .page_build_info{
        font-size: 16px;
    }

    .info h1{
        width: 80%;
        margin: 50px auto;
        font-size: 36px;
    }
}
