.passion{
    position: absolute;  
    overflow: hidden;
    text-align: center;
    min-height: 120vh;
    background-color: black;
    z-index: 1;
    top: 0;
    left: 0;
    transform:translateY(-100%);
    opacity: 0;
    transition: all .4s linear;
}

.passion.active{
    top: 0;
    left: 0;
    transform:translateY(0%);
    opacity: 1;
    z-index: 4;
}

.passion h1{
    width: 80%;
    margin: 50px auto;
    font-size: 48px;
}

.passion h2:nth-of-type(2){
    margin-top: 5vh;
}

.banner_arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 24px;
    line-height: 40px;
    z-index: 12;
    opacity: 0.7;
    cursor: pointer;
    transition: .4s linear;
}

.banner_arrow:hover{
    opacity: 0.9;
}

.banner_arrow i{
    line-height: 40px;
}

.button_left{
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
}

.button_right{
    top: 50%;
    left: 99%;
    transform: translate(-100%, -50%);
}

.banner{
    display: flex;
    margin: 30vh auto;
    position: relative;
    overflow: hidden;
    width: 100vw;
    min-height: 300px;
}

.imgban{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s linear;
}

#imgban1{
    background-image: url('../images/passions/astronomy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imgban2{
    background-image: url('../images/passions/cybersec.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imgban3{
    background-image: url('../images/passions/weights.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imgban1 div, #imgban2 div, #imgban3 div{
    position: relative;
    min-width: 200px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
}

#imgban3_h2, #imgban2_h2, #imgban1_h2{
    width: 100%;
    height: 40%;
    margin: 2vh 0 1vh 0;
    padding: 0;
    font-size: 32px;
}

#imgban3_h3, #imgban2_h3, #imgban1_h3{
    flex-basis: 97%;
    margin: 0;
    padding: 16px;
    font-size: 16px;
}
