.passion{
    position: absolute;  
    overflow: hidden;
    text-align: center;
    width: 100vw;
    height: 120vh;
    background-color: black;
    z-index: 1;
    top: -120vh;
    left: 0;
    opacity: 0;
    transition: all .4s linear;
}

.passion.active{
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 4;
}

.passion h1{
    font-size: 3em;
}

.passion h2:nth-of-type(2){
    margin-top: 5vh;
}

.banner_arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 24px;
    line-height: 40px;
    z-index: 12;
    opacity: 0.7;
    cursor: pointer;
    transition: .4s linear;
}

.banner_arrow:hover{
    opacity: 0.9;
}

.banner_arrow i{
    line-height: 40px;
}

.button_left{
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
}

.button_right{
    top: 50%;
    left: 99%;
    transform: translate(-100%, -50%);
}

.banner{
    margin: 10vh auto;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 60vh;
}

.imgban{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s linear;
}

#imgban1{
    background-image: url('../images/passions/astronomy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imgban2{
    background-image: url('../images/passions/cybersec.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imgban3{
    background-image: url('../images/passions/weights.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imgban1 div, #imgban2 div, #imgban3 div{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    width: 55%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.8);
}

#imgban3_h2, #imgban2_h2, #imgban1_h2{
    width: 100%;
    height: 40%;
    margin: 2vh 0 1vh 0;
    padding: 0;
    font-size: 4.5vh;
}

#imgban3_h3, #imgban2_h3, #imgban1_h3{
    flex-basis: 97%;
    margin: 0;
    padding: 0;
    height: 60%;
    font-size: 2.5vh;
}

#imgban1 div {
    top: 10%;
    left: 10%;
}

#imgban2 div {
    top: 25%;
    left: 20%;
}

#imgban3 div {
    top: 40%;
    left: 30%;
}




