
body.active{
    overflow-x: hidden;
    overflow-y: show;
}

span.com.active{
    position: relative;
    opacity: 1;
    animation: twinkle .5s linear both;
}

.border_mid.active{
    animation: hide .4s linear both;
}

.crucial{
    position: absolute;  
    overflow: hidden;
    min-height: 340vh;
    z-index: 2;
    background-color: black;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: .4s linear;
}

.crucial.active{
    background-color: rgb(0, 0, 20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    animation: move_to 1s .6s linear both;
}

.cpp, .js, .htmlcss, .arch, .python, .react, .git{
    position: relative;
    display: flex;
    justify-content: flex-start;
    left: -100%;
    margin-top: 20vh;
    min-height: 150px;
    background-color: yellow;
    box-shadow: 0 0 12px 2px red;
    transition: .6s linear;
}

.python, .react, .git{
    left: 100%;
}

 .arch{
    margin-bottom: 200px;
}

.cpp.active, .js.active, .htmlcss.active, .arch.active,
 .python.active, .react.active, .git.active{
    left: 0%;
    z-index: 3;
}

.crucial img{
    width: 60%;
    background-color: white;
}

.crucial .bgc{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    box-shadow: 10px 0px 18px -3px black;
}

.crucial .txt{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 0px 15px;
    box-sizing: border-box;
    text-shadow: 0 0 5px red;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    max-width: 60%;
    flex-grow: 1;
}

.crucial .txt p{
    color: black;
}

.crucial h1{
    width: 80%;
    margin: 10vh auto;
    color: darkorange;
    text-shadow: 0px 0px 5px brown;
    font-size: 62px;
    text-align: center;
}

@keyframes twinkle{

    10%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    11%{
        color: black;
        text-shadow: 0 0 0;
    }

    12%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    13%{
        color: black;
        text-shadow: 0 0 0;
    }

    15%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    16%{
        color: black;
        text-shadow: 0 0 0;
    }

    17%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    18%{
        color: black;
        text-shadow: 0 0 0;
    }

    19%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    23%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }
    24%{
        color: rgb(0, 0, 20);
        text-shadow: 0 0 0;
    }

    50%{
        color: rgb(0, 0, 20);
        text-shadow: 0 0 0;
    }
    52%{
        color: darkorange;
        text-shadow: 0px 0px 20px darkred; 
    }

    54%{
        color: rgb(0, 0, 20);
        text-shadow: 0 0 0;
        opacity: 0;
    }
    100%{
        color: rgb(0, 0, 20);
        text-shadow: 0 0 0;
        opacity: 0;
    }
}

@keyframes hide{
    100%{
        min-width: 0%;
        box-shadow: 0 0 0;
    }
}

@keyframes move_to{
    0%{
        opacity: 0;
    }

    100%{
        top: 0%;
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}