.info{
    position: absolute;  
    overflow: hidden;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1;
    top: 0;
    left: -100vw;
    opacity: 0;
    transition: all .4s linear;
}

.info.active{
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 5;
}

.info h1{
    font-size: 3em;
}