@media (max-width: 768px) and (max-height: 1023px){
    .arrow{
        width: 12vw;
        height: 12vw;
        font-size: 6vw;
    }

    .menu{
        height: 60vh;
        right: -12vw;
        width: 12vw;
    }

    .menu .menu_icons{
        width: 10vw;
        height: 8vw;
        line-height: 8vw;
        font-size: 4vw;
    }

    .head .left_p{
        top: 40%;
        font-size: 1em;
    }

    .head .right_p{
        top: 65%;
        font-size: 1em;
    }
    .head .border_mid{
        top: 55vh;
    }

    .next_page{
        width: 15vw;
        height: 15vw;
    }

    .crucial h1{
        font-size: 2.7em;
    }
    .crucial img{
        height: 60%;
    }

    .crucial .bgc{
        width: 200px;
    }

    .crucial p{
        font-size: 0.5em;
    }

    .crucial .txt{
        width: calc(100% - 200px);
    }
}

@media (max-width: 320px) and (max-height: 480px){
    .head h1{
        padding-top: 5%;
    }
    .head .left_p{
        top: 30%;
        font-size: 1em;
    }

    .head .border_mid{
        top: 60vh;
    }

    .crucial h1{
        font-size: 2.5em;
    }
    .crucial img{
        height: 50%;
    }

    .crucial .bgc{
        width: 70px;
    }

    .crucial p{
        font-size: 0.5em;
    }

    .crucial .txt{
        width: calc(100% - 70px);
    }
}

@media (min-width: 769px) and (min-height: 1024px){
    .head h1{
        padding-top: 5%;
    }

    .menu{
        height: 50vh;
        right: -12vw;
        width: 12vw;
    }

    .menu .menu_icons{
        width: 10vw;
        height: 8vw;
        line-height: 8vw;
        font-size: 4vw;
    }

    .next_page{
        width: 20vw;
        height: 20vw;
    }

    .crucial h1{
        font-size: 2.7em;
    }

}

